name: Preview CI

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches-ignore: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        cache: npm
        node-version: 16
    - name: Install Dependencies
      run: npm ci

  lint:
    needs: install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        cache: npm
        node-version: 16
    - name: Install Dependencies
      run: npm ci
    - name: Lint
      run: npm run lint

  build:
    needs: install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        cache: npm
        node-version: 16
    - name: Install Dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist

  deploy:
    needs: [lint, build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        cache: npm
        node-version: 16
    # - name: Install Vercel CLI
    #   run: npm install --global vercel@latest
    # - name: Pull Vercel Environment Information
    #   run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
    # - name: Install Dependencies
    #   run: npm ci
    # - name: Build
    #   run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
    # - name: Deploy Project Artifacts to Vercel
    #   run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
